helix-gallery img,
helix-gallery picture {
  cursor: pointer;
}

helix-gallery img.selected {
  position: fixed;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  width: 100vw;
  top: 50%;
  border: 0px;
  margin-top: -50vh;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 42rem) {
  helix-gallery {
    line-height: 0;
    column-count: 3;
    column-gap: 0.4rem;
    display: block;
  }

  helix-gallery * {
    display: inline;
  }

  helix-gallery * img {
    display: inline-block;
    width: 12rem;
    border-width: 0.5rem;
  }
}

@media (max-width: 42 rem) {
  helix-gallery {
    column-count: 2;
    column-gap: 0rem;
    display: block;
    user-select: none;
  }

  helix-gallery source {
    display: none;
  }

  helix-gallery * {
    display: inline;
    margin: 0px;
    vertical-align: top;
  }

  helix-gallery * img {
    display: inline-block;
    border-width: 0rem;
    margin: 0px;
    padding: 0px;
  }
}
