main {
  min-height: calc(100vh - 25rem);
}

footer {
  background-color: var(--main-txt-color);
  padding: 1rem;
  margin-top: 1rem;
  margin: 0px;
  color: var(--main-highlight-color);
  font-weight: 350;
  text-align: center;
  min-height: 15rem;
}

footer ol {
  text-align: center;
  padding-inline-start: 0;
}

footer ol li {
  display: inline-block;
  margin: 1em;
}

footer a:link,
footer a:visited {
  color: var(--main-bg-color);
  text-decoration: none;
  font-family: "look-script";
}

@media (prefers-color-scheme: dark) {
  footer {
    background-color: var(--main-highlight-color);
    color: var(--main-txt-color);
  }

  footer a:link,
  footer a:visited {
    color: var(--main-txt-color);
  }
}

@media (max-with: 42rem) {
  footer {
    text-align: center;
  }
}
